<h1>Sobre o projeto</h1>

<p>
  Este site exibe informações em tempo real sobre o status das linhas de metrô
  de São Paulo, extraídas de fontes oficiais.
</p>

<p>
  O projeto não possui fins lucrativos, não possui a intenção de causar
  prejuízos comerciais, não expõe recursos proprietários, é open-source e está
  <a href="https://github.com/yudi/metro">disponível no GitHub</a>.
</p>

<h2>Fornecedores dos dados</h2>
<p>
  Os dados obtidos são inerentemente públicos, fornecidos por órgãos
  governamentais ou por empresas de transporte.
</p>
<h3>São Paulo</h3>
<ul>
  <li><b>Estado dos trilhos</b> - fontes oficiais e públicas</li>
  <li><b>Próximo trem</b> - fontes próprias</li>
  <li>
    <b>Estações e traçado dos trilhos</b> - GeoSampa - Prefeitura de São Paulo
  </li>
  <li><b>Linhas de ônibus</b> - SPTrans</li>
  <li><b>Estações de bicicleta</b> - Lyft Urban Solutions</li>
</ul>

<h1>Licenças</h1>

<app-license></app-license>
